<h1>Cart</h1>
<h2>Cart ID {{cartId}}</h2>

<h2>Products from cart {{cartId}}</h2>
<ul style="list-style: none;">
    {{#each products}}
        <li>Description: {{this.product.title}}</li>
        <li>Price: ${{this.product.price}}</li>
        <li>Category: {{this.product.category}}</li>
        <li>Quantity:{{this.quantity}}</li>
        <li>
            <hr>
        </li>
    {{/each}}
</ul>
