<h1>Cart</h1>
<h2>Cart ID {{cartId}}</h2>

<h2>Products from cart {{cartId}}</h2>
<ul>
    {{#each products}}
        <li>{{this.product.title}}</li>
        <li>${{this.product.price}}</li>
        <li>Stock:{{this.product.stock}}</li>
        <li>{{this.product.category}}</li>
        <li>
            <hr>
        </li>
    {{/each}}
</ul>
