<h1>Products</h1>

<p>Welcome, {{user.first_name}} - {{user.last_name}}</p>
<p>Age:{{user.age}}</p>
<p>Email: {{user.email}}</p>
<p>Role: {{user.role}}</p>

<ul>
    {{#each products}}
        <li>{{this.title}}</li>
        <li>${{this.price}}</li>
        <li>{{this.stock}}</li>
        <li>{{this.category}}</li>
        <li>
            <form action="/carts/664ce86d28a2c7631430bf58/product/{{_id}}" method="post">
            <button>
                Add to cart
            </button>
            </form>
        </li>
        <li>
            <a href="/products/{{_id}}">View</a>
        </li>
        <li>
            <hr>
        </li>
    {{/each}}   
</ul>

{{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}&limit={{limit}}">Previous</a>
{{/if}}

{{#if hasNextPage}}
    <a href="/products?page={{nextPage}}&limit={{limit}}">Next</a>
{{/if}}

<p>Page {{currentPage}} of {{totalPages}}</p>