<h1>Product</h1>

<ul>
        <li>{{title}}</li>
        <li>${{price}}</li>
        <li>{{stock}}</li>
        <li>{{category}}</li>
        <li>{{thumbnail}}</li>
        <li>
            <a href="/carts/660266d600779d397b4b6fc7/products/{{_id}}">Add to cart</a>
        </li>
        <li>
            <hr>
        </li>
</ul>

<button>
<a href="/products">Back</a>
</button>

