<h1>Products</h1>

<ul>
    {{#each products}}
        <li>{{this.title}}</li>
        <li>${{this.price}}</li>
        <li>{{this.stock}}</li>
        <li>{{this.category}}</li>
        <li>
            <a href="/carts/660266d600779d397b4b6fc7/product/{{id}}">Add to cart</a>
        </li>
        <li>
            <hr>
        </li>
    {{/each}}   
</ul>

{{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}&limit={{limit}}">Previous</a>
{{/if}}

{{#if hasNextPage}}
    <a href="/products?page={{nextPage}}&limit={{limit}}">Next</a>
{{/if}}

<p>Page {{currentPage}} of {{totalPages}}</p>